* {
	margin: 0;
	padding: 0;
}

.App {
  text-align: center;
}

h1, h2, h3, h4, p, span{
	color: #333333;
}

header {
	width: 100%;
	padding: 40px 0;
	background-color: #333333;
	margin-bottom: 20px;
}
header .container{
	text-align: left;
}
header h1 { 
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
}
header h1 span { 
	font-size: 14px;
	color: #A0A0A0;
} 

.container {
	text-align: center;
}

form {
	width: 500px;
	margin: 0 auto;
	text-align: left;
}

input {
	margin-bottom: 10px;
}

h2 span {
	font-weight: 600;
}

.content .buttons button {
	margin-left: 20px;
}

.phone_item {
	width: 80%;
	margin: 0 auto;
	padding: 15px 20px 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #A0A0A0;
}

.phone_item .content {
	text-align: left;
}

.phone_item .phone_name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0;
}
.phone_item .phone_number {
	font-size: 17px;
	margin-bottom: 0;
}

.phone_item .delete {
	padding: 2px 8px 5px 8px;
	border-radius: 20px;
	line-height: 1;
}